* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-shadow: 0 0 1px 1px red inset; */
  /* outline: 1px dashed red; */
}

body,
main,
p,
input,
textarea,
button {
  font-family: var(--fontFamily);
}

:root {
  --fontFamily: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --fontFamilyInter: Inter, Inter Fallback;
}